

html {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;

  font-weight: 200;
  line-height: 1;
  height: 100vh;
  margin: 0;
  background-image: url(https://pbs.twimg.com/media/EdygTSzXoAIau4A.jpg);
  background-repeat: repeat-y;
  background-size: cover;

  text-align: center;

}

h1 {
  padding: 0;
  margin: 40;
  color: white;
  font-size: 40px;
}

p {


  color: white;
  font-size: 20px;
}

div {
  align-items: center;

}
