
body {
  margin-top: 20vh;
  padding-left: 20vw;
  padding-right: 20vw;
}

div {
  margin-bottom: 5vh;
}

h1 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}
