html, body {
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
}

hr {
  border-color: rgb(70,70,70);
}



.header-wrap {
  width: 180px;
  position: fixed;
  top: 50px;
  left: 50px;
  height: 80vh;
}

.title {
  font-family: 'Roboto Mono', monospace;
  font-weight: 800 bold;
  margin-bottom: 0;
  font-size: 48px;
}

.date {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  margin-top: 0;
  font-size: 12px;
}



.quote {
  border-left: 2px solid black;
  margin-left: 10px;
}

blockquote {
  font-style: italic;
  font-weight: 300;
  color: rgb(70,70,70)
}



.content {
  font-family: 'Roboto Slab', serif;
  margin-left: 250px;
  max-width: 750px;
  font-size: 16px;
  font-weight: 400;
}

p {
  color: rgb(70,70,70)
}


.content img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.img-container {
  margin-top: 10px;
  margin-bottom: 40px;
}

.img-container p {
  margin-top: 5px;
  font-style: italic;
}



#main-nav {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  margin-top: 0px;
  color: rgb(70,70,70);
}

#main-nav ul {
  margin: 0;
  padding: 0;

  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  text-align: left;

  cursor: pointer;
}


.subnav {
  height: 0px;
  font-size: 14px;
  padding-left: 20px;
  overflow: hidden;
  transition: all 200ms;
}

.subnav.visible {
  height: 95px;
  margin: 0px 0;
}

header .logo {
  width: 180px;
}

.page:hover {
  color: rgb(0,0,0);
}

.folder:hover .high {
  color: rgb(0,0,0);
}

#sec-nav {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  margin-top: 50px;
  color: rgb(70,70,70);
}

#sec-nav ul {
  margin: 0;
  padding: 0;

  cursor: pointer;
}



header hr {
  margin: 20px 0;
}

header p {
  font-family: 'Roboto Slab', serif;
  color: rgb(70,70,70);
  text-align: center;
}

.social {
  margin-top: 10px;
  width: 180px;
}

.social img {
  width: 16px;
  height: 16px;
}

.social img:hover {
  opacity: 0.6;
}

.social a {
  text-decoration: none;
}

.featured {
  text-decoration: none;
}

.featured h1 {
  margin: 0;
  color: rgb(0,0,0)
}

.featured img {
  max-width: 750px;
  max-height: 500px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}




.card h1 {
  margin: 0;
  color: rgb(0,0,0)
}


.card-content {
  height: 180px;
  margin: 20px 0;
}

.card-content img {
  float:left;
  margin-right: 20px;
  height: 180px;
  width: 180px;
  object-fit: cover;
}

.card .date {
  vertical-align: bottom;
}

.card {
  text-decoration: none;
  display: block;
}




@media (max-width:950px) {
  .header-wrap {
    display: none;
  }
  .content {
    margin: auto;
  }
}

















